header {
    background-color: $ColorMoradoFondo;
    height: 100vh;
    width: 100%;
}

div.header-barra {
    padding: 8px 0;
    font-size: 16px;
    div.navegacion {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        img {
            width: 20%;
        }
        nav {
            display: flex;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    color: $ColorNegroOscuro1;
                    padding: 0.4em 0.6em;
                    margin: 0 0.31em;
                    font-size: 0.87em;
                    font-weight: 600;
                    &:hover {
                        border-bottom: 2px solid $ColorNegroOscuro2;
                    }
                }
            }
        }
    }
    @media (max-width:850px) {
        display: none;
    }
}


/* NAVEGACION MOVIL */

div.headerMovil {
    display: none;
}

div.MenuMovil {
    display: none;
}

@media (max-width:850px) {
    div.headerMovil {
        padding: 20px 0;
        background-color: $ColorMoradoOscuro;
        display: block;
        div.container {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            i {
                color: $ColorBlanco;
                font-size: 30px;
            }
            i#CloseMenu {
                display: none;
            }
        }
    }
    div.MenuMovil {
        position: absolute;
        top: 69px;
        right: 0;
        width: 70%;
        display: none;
        align-items: center;
        justify-content: center;
        background-color: $ColorMoradoOscuro;
        z-index: 3;
        height: 90vh;
        clip-path: inset(0 0 0 0);
        animation: MenuMovil 1.1s ease 0s;
        nav {
            li {
                list-style: none;
                text-align: center;
                padding: 40px 0;
                a {
                    color: $ColorBlanco;
                    font-size: 25px;
                }
            }
        }
    }
}

@keyframes MenuMovil {
    0% {
        clip-path: inset(0 0 0 96%);
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}